body {
  background-image: url('./images/bg-desktop-light.jpg');
  background-size: cover;
  /* overflow-x: hidden; */
  background-repeat: no-repeat;
  /* justify-content: center; */
  
  
}
.Title{
  display: flex;
  align-items: center;
  /* justify-content: center; */
  padding-top: 5%;
  padding-left: 33%;
  min-width: 576px;
  max-width: 1400px;
}


h2{
  
  position: absolute;
  color: white;
  font-size: 40px;
  /* padding: 0%; */
}

.firstContain {
  display: flex;
  width: 35%;
  /* height: 50px; */
  /* background-color: red;   */
  position: absolute;
  top: 27%;
  left: 50%;
  
  transform: translate(-50%, -30%);
  min-width: 576px;
  max-width: 1400px;
  
}
/* container */
.container{
   width: 36%;
   height: 60%;
   border: 1px solid black;
   border-radius: 10px;
   position: absolute;
   left: 50%;
   top: 55%;
   transform: translate(-50%, -30%);
    min-width: 576px; 
     max-width: 1400px;
    
    
}

 img{       /*sun */
  position: absolute;
  top: 15%;
  left: 65%;

}

body::before{
  content: XS;
  color: red;
  font-size: 2rem;

  top:0;
  right:0;
   position: fixed;
}
 
@media (min-width: 576px) {
  body::before {
    content: "SM";
  }
}

@media (min-width: 768px) {
  body::before {
    content: "MD";
  }
}

@media (min-width: 992px) {
  body::before {
    content: "LG";
  }
}

@media (min-width: 1200px) {
  body::before {
    content: "XL";
  }
}

@media (min-width: 1400px) {
  body::before {
    content: "XXL";
  }
}